body
{
  background-image: radial-gradient(cyan,blue)
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size:18px;
  border-radius:10px;
  letter-spacing: 10px;
}
label{
  font-size:14px;
  color:lime;
  padding:6px;
  border-radius: 10px;
  background-color: rgb(249, 255, 249);
}
#result_emotion_name{
  color:rgb(243, 103, 87);
}
